<% provide(:title, 'Home') %>

<%=image_tag("woofenpoofslogo2.png", alt: "Woofenpoofs Logo", class: "centered")%>
<h2 class="centered">We connect Yale dog lovers with Yale dogs.</h2>
<h3 class="centered">Sign up to walk dogs, or to find a volunteer dog walker for your dog from the Yale community.</h3>
