$light1: #DBCEA2;
$light2: #BBA880;
$accent: #6AA174;
$accent2: #B64902;
$dark1: #5B421B;

html, body {
	padding: 0;
	margin: 0;
}

header {
	padding: 10px;
	background-color: $light1;
	position: relative;
	height: 80px;

}

#logo {
	vertical-align: middle;
	line-height: 80px;
	padding: 5px;
	font-size: 40px;
}

#linklist {
	position: absolute;
	right: 0;
	top: 0;
	list-style-type: none;
	font-size: 16px;
	line-height: 60px;
	padding: 5px;
}

#linklist li {
	display: inline-block;
	padding: 0px 10px;
	vertical-align: middle;
}

a {
	color: $accent2;
	text-decoration: none;
	&:hover {
		color: $accent;
	}
}